BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Sets up clock + sets frequency
LOCATE COMP "clk" SITE "G2";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# Sets up reset button
LOCATE COMP "reset_n" SITE "D6";
IOBUF  PORT "reset_n" PULLMODE=UP IO_TYPE=LVCMOS33;

### Hint: Outputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is pin 27
LOCATE COMP "red[1]" SITE "D13";
IOBUF PORT "red[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is pin 26
LOCATE COMP "red[0]" SITE "B13";
IOBUF PORT "red[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is pin 25
LOCATE COMP "green[1]" SITE "D14";
IOBUF PORT "green[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is pin 24
LOCATE COMP "green[0]" SITE "C16";
IOBUF PORT "green[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is pin 23
LOCATE COMP "blue[1]" SITE "B17";
IOBUF PORT "blue[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

#This is pin 22
LOCATE COMP "blue[0]" SITE "B15";
IOBUF PORT "blue[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is pin 21
LOCATE COMP "hsync" SITE "C18";
IOBUF PORT "hsync" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is pin 20
LOCATE COMP "vsync" SITE "D18";
IOBUF PORT "vsync" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

### Hint: Inputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=DOWN IO_TYPE=LVCMOS33;

# LOCATE COMP "start" SITE "R18";
# IOBUF PORT "start" PULLMODE=DOWN IO_TYPE=LVCMOS33;
